@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --color-light: #EAF2EF;
  --color-primary: #912F56;
  --color-secondary: #521945;
  --color-dark: #361F27;
  --color-black: #0D090A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background: var(--color-light);
  color: var(--color-dark);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}